<section class="text-center" *ngIf="roles.includes('admin') else admin">
  <nb-card status="primary" size="small" class="w-25 mt-5 m-auto h-100">
    <nb-card-header>
      <h5>Usuarios de la plataforma</h5>
    </nb-card-header>
    <nb-list>
      <nb-list-item class="row m-0" *ngFor="let user of users">
        <nb-user class="col-8" size="large" [name]="user">
        </nb-user>
        <button (click)="removeUser(user)" class="col-2" nbTooltip="Eliminar usuario" size="large" nbButton ghost status="danger"><nb-icon icon="trash-2-outline"></nb-icon></button>
        <button (click)="blankPassword(user)" class="col-2" nbTooltip="Poner en blanco contraseña" size="large" nbButton ghost status="danger"><nb-icon icon="file-remove-outline"></nb-icon></button>
      </nb-list-item>
    </nb-list>
  </nb-card>
</section>
<ng-template #admin>
  <section class="text-center">
    <h3>Último inicio de sesión {{lastLoginDate | date:'short'}}</h3>
    <nb-card status="primary" class="w-25 mt-5 m-auto">
      <nb-card-header>
        <h5>Cambiar contraseña</h5>
      </nb-card-header>
      <nb-card-body>
        <form aria-labelledby="title" [formGroup]="form">
          <div class="form-group">
              <span class="label-with-link">
                <label class="label" for="input-password" hidden>Contraseña:</label>
              </span>
            <input nbInput
                   fullWidth
                   formControlName="password"
                   name="password"
                   type="password"
                   id="input-password"
                   placeholder="Nueva contraseña"
                   fieldSize="large"
            >
            <ng-container *ngIf="form.get('password').invalid && form.get('password').touched">
              <p class="mt-1 caption status-danger" *ngIf="form.get('password').hasError('required')">
                La contraseña es requerida
              </p>
              <p class="mt-1 caption status-danger" *ngIf="form.get('password').hasError('minlength')">
                La contraseña debe tener minimo 4 caracteres
              </p>
            </ng-container>
          </div>
          <button nbButton
                  [disabled]="form.invalid"
                  fullWidth
                  status="primary"
                  size="large"
                  (click)="changePassword()"
          >
            Cambiar contraseña
          </button>
        </form>
      </nb-card-body>
    </nb-card>
  </section>
</ng-template>
