<section class="text-center" *ngIf="roles.includes('admin') else admin">
  <h2>Hola {{username}}</h2>
  <nb-card size="small" class="w-25 mt-4 m-auto h-100">
    <nb-list>
      <nb-list-item *ngFor="let user of users">
        <nb-user size="large" [name]="user">
        </nb-user>
        <button nbTooltip="Eliminar usuario" size="large" nbButton ghost status="danger"><nb-icon icon="trash-2-outline"></nb-icon></button>
        <button nbTooltip="Poner en blanco contraseña" size="large" nbButton ghost status="danger"><nb-icon icon="file-remove-outline"></nb-icon></button>
      </nb-list-item>
    </nb-list>
  </nb-card>
</section>
<ng-template #admin>
  <section class="text-center">
    <h2>Hola {{username}}</h2>
    <h3>Ultimo inicio de sesión {{lastLoginDate}}</h3>
  </section>
</ng-template>
