@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/dark';
@import 'bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

$nb-themes: nb-register-theme((
  font-family-primary: unquote('Open Sans, sans-serif'),
  font-family-secondary: font-family-primary,
), dark, dark);
