<nb-layout>
  <nb-layout-column class="h-100 d-flex">
      <nb-card status="primary" class="m-auto col p-0">
      <nb-card-header class="text-center">
        <button class="mr-3" (click)="switchMode()" shape="round" nbButton ghost status="control"><nb-icon [icon]="icon"></nb-icon></button>
      </nb-card-header>
      <nb-card-body class="p-4">
        <section class="text-center">
          <h1>Cierre de sesión exitoso</h1>
        </section>
        <section>
            <button nbButton
                    fullWidth
                    status="primary"
                    size="large"
                    class="mt-4"
                    (click)="goToLogin()"
                    >
              Volver a inicio de sesión
            </button>
        </section>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
