<nb-card [nbSpinner]="loading" status="primary">
  <nb-card-header class="row d-flex align-items-center m-0">
    <div class="col-6">
      <h5 class="font-weight-light">Matriz de {{measure}} {{units ? '('+units+')' : ''}}</h5>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <app-date-range-selector (dateEmitter)="onDateChange($event)"></app-date-range-selector>
      <button class="ml-3" size="small" nbButton status="basic" (click)="exportExcel()">Exportar excel</button>
    </div>
  </nb-card-header>
  <nb-card-body class="p-2 matrix">
    <table id="matrix" class="table table-bordered" *ngIf="data">
      <thead>
      <tr>
        <th class="text-center" scope="col" *ngFor="let item of headers">{{item}}</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" *ngFor="let row of filteredData">
        <td *ngFor="let col of row">{{col}}</td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
